.best-seller {
    padding: 60px  0 100px;
    background: #000;
    overflow: hidden;
}
.best-slider .slick-slide {
    padding: 40px 10px;
}
.best-slider .slick-slide .banner-prod-card{
    box-shadow: none;
}
.best-seller .slick-current {
    transform: scaleY(1.1);
}
.best-seller .slick-dots {
    bottom: -60px;
}
.best-seller .slick-dots li {
    margin: 0 14px;
    width: unset;
}
.best-seller .slick-dots li button::before {
    width: 38px;
    height: 5px;
    content: '';
    background: #fff;
    border-radius: 0 100px 0 100px  ;
    opacity: .5;
    transition: all 0.5s ease-in-out;
}
.best-seller .slick-dots li.slick-active button:before{
    background: linear-gradient(to left, #dfa000  0%, #e24949 80%);
}
.section-header-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.best-seller h2 {
    margin: 0;
}