.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown-icon {
    color: #fff;
    padding: 10px 0  0px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
  }
  
  .dropdown-icon:hover {
    color: #222222;
    background-color: #fff;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .dropdown-menu li:last-child a {
    border-bottom: none;
  }
  
  .dropdown-menu li a:hover {
    background-color: #f0f0f0;
  }

  .dropdown-menu a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    display: block;
    font-weight: 600;
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    transition: all 0.4s ease-in-out;
    position: relative;
    display: block;
  }
.dropdown-menu a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px; /* Set the height of the underline */
    background: #e24949; /* Line color */
    width: 0; /* Initial width to zero */
    transition: width 0.4s ease-in-out; /* Smooth width transition */
  }
  
  .dropdown-menu a:hover:after {
    width: 100%; /* Expand the line to full width on hover */
  }
.prod-dropdown {
    width: 100%;
}
.prod-dropdown .dropdown-icon {
  width: 100%;
  height: auto;
  padding: 10px 15px;
  text-align: left;
  position: relative;
  border-radius: 0  10px 0 10px;
  border: 1px solid #fff;
}
.prod-dropdown .dropdown-icon:hover {
  width: 100%;
  height: auto;
  padding: 10px 15px;
  text-align: left;
  position: relative;
}
.prod-dropdown i {
  position: absolute;
  right: 20px;

}
.prod-dropdown span {
  font-weight: 500;
}
.prod-dropdown .dropdown-menu {
  left: 0;
  width: 100%;
}