.featured-systems {
    background: #fff;
    padding: 60px 0;
}
.featured-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.featured-grid .prod-detail-card .inner{
    background: #fff;
    color: #000;
}
.featured-grid .prod-detail-card .card-title {
    color: #000;
}
.featured-grid .star {
    color: #000;
}
.featured-grid .dropdown-icon {
    color: #000;
    border: 1px solid #000;
}
.featured-grid .price {
    color: #000;
}
.featured-grid .cut-price {
    color: #000;
    opacity: 1;
    font-weight: 500;
}